body{
    text-align: center;
    align-items: center
}
th {
    background-color: #194381;
    color: white;
    text-transform: uppercase;    
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td, tr {
    font-family: "Homer Simpson", cursive;
    font-size: 100%;
    border: rgb(40, 85, 143)
}
.tit{
    font:80% 80px/1em Amatic SC;
    padding-top:20px;
}
.titulo{ 
    font-family: sans-serif; 
    font-weight: 400; 
    color: #ffffff; 
    background:rgb(19, 114, 131)
}
table{
    text-align-last: auto;
    width: 100%
}
.cuadro{
    background-color: #f2f4f8;
    border: #194381;
    width: 80%;
    margin: 10px auto;

}